In [1]:
import pandas as pd

In [2]:
str= r'C:\Users\KIIT\OneDrive\Desktop\code 1\Data Analysis\BD-Dataset.csv'
date_bd= pd.read_csv(str)
date_bd

,Date,Daily new confirmed cases,Total confirmed cases,Daily new deaths,Total deaths,Daily new recovered,Total recovered,Daily New Tests,Total Tests,Active Cases
0,3/8/2020,3.0,3.0,0.0,0.0,0.0,0.0,9.0,120.0,3.0
1,3/9/2020,0.0,3.0,0.0,0.0,0.0,0.0,7.0,127.0,3.0
2,3/10/2020,0.0,3.0,0.0,0.0,0.0,0.0,10.0,137.0,3.0
3,3/11/2020,0.0,3.0,0.0,0.0,2.0,2.0,10.0,147.0,1.0
4,3/12/2020,0.0,3.0,0.0,0.0,0.0,2.0,16.0,163.0,1.0
...,...,...,...,...,...,...,...,...,...,...
321,4/6/2020,35.0,123.0,3.0,12.0,0.0,33.0,468.0,3349.0,78.0
322,4/7/2020,41.0,164.0,5.0,17.0,0.0,33.0,792.0,4141.0,114.0
323,4/8/2020,54.0,218.0,3.0,20.0,0.0,33.0,981.0,5122.0,165.0
324,4/9/2020,112.0,330.0,1.0,21.0,0.0,33.0,905.0,6175.0,276.0
325,4/10/2020,94.0,426.0,6.0,27.0,0.0,33.0,1148.0,7359.0,364.0

In [3]:
date_bd['date']=pd.to_datetime(date_bd.Date)
date_bd

,Date,Daily new confirmed cases,Total confirmed cases,Daily new deaths,Total deaths,Daily new recovered,Total recovered,Daily New Tests,Total Tests,Active Cases,date
0,3/8/2020,3.0,3.0,0.0,0.0,0.0,0.0,9.0,120.0,3.0,2020-03-08
1,3/9/2020,0.0,3.0,0.0,0.0,0.0,0.0,7.0,127.0,3.0,2020-03-09
2,3/10/2020,0.0,3.0,0.0,0.0,0.0,0.0,10.0,137.0,3.0,2020-03-10
3,3/11/2020,0.0,3.0,0.0,0.0,2.0,2.0,10.0,147.0,1.0,2020-03-11
4,3/12/2020,0.0,3.0,0.0,0.0,0.0,2.0,16.0,163.0,1.0,2020-03-12
...,...,...,...,...,...,...,...,...,...,...,...
321,4/6/2020,35.0,123.0,3.0,12.0,0.0,33.0,468.0,3349.0,78.0,2020-04-06
322,4/7/2020,41.0,164.0,5.0,17.0,0.0,33.0,792.0,4141.0,114.0,2020-04-07
323,4/8/2020,54.0,218.0,3.0,20.0,0.0,33.0,981.0,5122.0,165.0,2020-04-08
324,4/9/2020,112.0,330.0,1.0,21.0,0.0,33.0,905.0,6175.0,276.0,2020-04-09
325,4/10/2020,94.0,426.0,6.0,27.0,0.0,33.0,1148.0,7359.0,364.0,2020-04-10

In [4]:
date_bd['year']=pd.DatetimeIndex(date_bd.date).year
date_bd['month']=pd.DatetimeIndex(date_bd.date).month
date_bd['day']=pd.DatetimeIndex(date_bd.date).day
date_bd['weekday']=pd.DatetimeIndex(date_bd.date).weekday
date_bd

,Date,Daily new confirmed cases,Total confirmed cases,Daily new deaths,Total deaths,Daily new recovered,Total recovered,Daily New Tests,Total Tests,Active Cases,date,year,month,day,weekday
0,3/8/2020,3.0,3.0,0.0,0.0,0.0,0.0,9.0,120.0,3.0,2020-03-08,2020.0,3.0,8.0,6.0
1,3/9/2020,0.0,3.0,0.0,0.0,0.0,0.0,7.0,127.0,3.0,2020-03-09,2020.0,3.0,9.0,0.0
2,3/10/2020,0.0,3.0,0.0,0.0,0.0,0.0,10.0,137.0,3.0,2020-03-10,2020.0,3.0,10.0,1.0
3,3/11/2020,0.0,3.0,0.0,0.0,2.0,2.0,10.0,147.0,1.0,2020-03-11,2020.0,3.0,11.0,2.0
4,3/12/2020,0.0,3.0,0.0,0.0,0.0,2.0,16.0,163.0,1.0,2020-03-12,2020.0,3.0,12.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321,4/6/2020,35.0,123.0,3.0,12.0,0.0,33.0,468.0,3349.0,78.0,2020-04-06,2020.0,4.0,6.0,0.0
322,4/7/2020,41.0,164.0,5.0,17.0,0.0,33.0,792.0,4141.0,114.0,2020-04-07,2020.0,4.0,7.0,1.0
323,4/8/2020,54.0,218.0,3.0,20.0,0.0,33.0,981.0,5122.0,165.0,2020-04-08,2020.0,4.0,8.0,2.0
324,4/9/2020,112.0,330.0,1.0,21.0,0.0,33.0,905.0,6175.0,276.0,2020-04-09,2020.0,4.0,9.0,3.0
325,4/10/2020,94.0,426.0,6.0,27.0,0.0,33.0,1148.0,7359.0,364.0,2020-04-10,2020.0,4.0,10.0,4.0

In [7]:
date_bd.drop(columns=['Date'],inplace=True)
date_bd

,Daily new confirmed cases,Total confirmed cases,Daily new deaths,Total deaths,Daily new recovered,Total recovered,Daily New Tests,Total Tests,Active Cases,date,year,month,day,weekday
0,3.0,3.0,0.0,0.0,0.0,0.0,9.0,120.0,3.0,2020-03-08,2020.0,3.0,8.0,6.0
1,0.0,3.0,0.0,0.0,0.0,0.0,7.0,127.0,3.0,2020-03-09,2020.0,3.0,9.0,0.0
2,0.0,3.0,0.0,0.0,0.0,0.0,10.0,137.0,3.0,2020-03-10,2020.0,3.0,10.0,1.0
3,0.0,3.0,0.0,0.0,2.0,2.0,10.0,147.0,1.0,2020-03-11,2020.0,3.0,11.0,2.0
4,0.0,3.0,0.0,0.0,0.0,2.0,16.0,163.0,1.0,2020-03-12,2020.0,3.0,12.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321,35.0,123.0,3.0,12.0,0.0,33.0,468.0,3349.0,78.0,2020-04-06,2020.0,4.0,6.0,0.0
322,41.0,164.0,5.0,17.0,0.0,33.0,792.0,4141.0,114.0,2020-04-07,2020.0,4.0,7.0,1.0
323,54.0,218.0,3.0,20.0,0.0,33.0,981.0,5122.0,165.0,2020-04-08,2020.0,4.0,8.0,2.0
324,112.0,330.0,1.0,21.0,0.0,33.0,905.0,6175.0,276.0,2020-04-09,2020.0,4.0,9.0,3.0
325,94.0,426.0,6.0,27.0,0.0,33.0,1148.0,7359.0,364.0,2020-04-10,2020.0,4.0,10.0,4.0

In [12]:
group_date= date_bd.groupby('month')
type(group_date)

In [10]:
group_date[['Daily new confirmed cases','Daily new deaths','Daily new recovered']].sum()

       Daily new confirmed cases  Daily new deaths  Daily new recovered
month
3.0                        459.0              45.0                225.0
4.0                      13623.0             377.0                275.0
5.0                       3262.0              15.0               1243.0

In [15]:
weekday_grouped= date_bd.groupby('weekday')[['Daily new confirmed cases','Daily new deaths','Daily new recovered']].mean()
weekday_grouped

         Daily new confirmed cases  Daily new deaths  Daily new recovered
weekday
0.0                      58.530612          1.469388             4.632653
1.0                      61.604167          1.562500             5.395833
2.0                      47.652174          1.695652             1.347826
3.0                      58.044444          0.955556             2.133333
4.0                      56.795455          1.318182             0.909091
5.0                      46.860465          1.720930             2.279070
6.0                      44.020000          0.740000            19.220000

In [16]:
location_df=pd.read_csv('countries.csv')
location_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839
3,Andorra,Europe,77265.0,83.73,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495
...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775

In [17]:
location_df[location_df.location=='Bangladesh']

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
15,Bangladesh,Asia,164689383.0,72.59,0.8,3523.984

In [18]:
date_bd['location']="Bangladesh"
date_bd

,Daily new confirmed cases,Total confirmed cases,Daily new deaths,Total deaths,Daily new recovered,Total recovered,Daily New Tests,Total Tests,Active Cases,date,year,month,day,weekday,location
0,3.0,3.0,0.0,0.0,0.0,0.0,9.0,120.0,3.0,2020-03-08,2020.0,3.0,8.0,6.0,Bangladesh
1,0.0,3.0,0.0,0.0,0.0,0.0,7.0,127.0,3.0,2020-03-09,2020.0,3.0,9.0,0.0,Bangladesh
2,0.0,3.0,0.0,0.0,0.0,0.0,10.0,137.0,3.0,2020-03-10,2020.0,3.0,10.0,1.0,Bangladesh
3,0.0,3.0,0.0,0.0,2.0,2.0,10.0,147.0,1.0,2020-03-11,2020.0,3.0,11.0,2.0,Bangladesh
4,0.0,3.0,0.0,0.0,0.0,2.0,16.0,163.0,1.0,2020-03-12,2020.0,3.0,12.0,3.0,Bangladesh
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321,35.0,123.0,3.0,12.0,0.0,33.0,468.0,3349.0,78.0,2020-04-06,2020.0,4.0,6.0,0.0,Bangladesh
322,41.0,164.0,5.0,17.0,0.0,33.0,792.0,4141.0,114.0,2020-04-07,2020.0,4.0,7.0,1.0,Bangladesh
323,54.0,218.0,3.0,20.0,0.0,33.0,981.0,5122.0,165.0,2020-04-08,2020.0,4.0,8.0,2.0,Bangladesh
324,112.0,330.0,1.0,21.0,0.0,33.0,905.0,6175.0,276.0,2020-04-09,2020.0,4.0,9.0,3.0,Bangladesh
325,94.0,426.0,6.0,27.0,0.0,33.0,1148.0,7359.0,364.0,2020-04-10,2020.0,4.0,10.0,4.0,Bangladesh

In [19]:
merged_df= date_bd.merge(location_df,on="location")
merged_df

,Daily new confirmed cases,Total confirmed cases,Daily new deaths,Total deaths,Daily new recovered,Total recovered,Daily New Tests,Total Tests,Active Cases,date,year,month,day,weekday,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,3.0,3.0,0.0,0.0,0.0,0.0,9.0,120.0,3.0,2020-03-08,2020.0,3.0,8.0,6.0,Bangladesh,Asia,164689383.0,72.59,0.8,3523.984
1,0.0,3.0,0.0,0.0,0.0,0.0,7.0,127.0,3.0,2020-03-09,2020.0,3.0,9.0,0.0,Bangladesh,Asia,164689383.0,72.59,0.8,3523.984
2,0.0,3.0,0.0,0.0,0.0,0.0,10.0,137.0,3.0,2020-03-10,2020.0,3.0,10.0,1.0,Bangladesh,Asia,164689383.0,72.59,0.8,3523.984
3,0.0,3.0,0.0,0.0,2.0,2.0,10.0,147.0,1.0,2020-03-11,2020.0,3.0,11.0,2.0,Bangladesh,Asia,164689383.0,72.59,0.8,3523.984
4,0.0,3.0,0.0,0.0,0.0,2.0,16.0,163.0,1.0,2020-03-12,2020.0,3.0,12.0,3.0,Bangladesh,Asia,164689383.0,72.59,0.8,3523.984
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321,35.0,123.0,3.0,12.0,0.0,33.0,468.0,3349.0,78.0,2020-04-06,2020.0,4.0,6.0,0.0,Bangladesh,Asia,164689383.0,72.59,0.8,3523.984
322,41.0,164.0,5.0,17.0,0.0,33.0,792.0,4141.0,114.0,2020-04-07,2020.0,4.0,7.0,1.0,Bangladesh,Asia,164689383.0,72.59,0.8,3523.984
323,54.0,218.0,3.0,20.0,0.0,33.0,981.0,5122.0,165.0,2020-04-08,2020.0,4.0,8.0,2.0,Bangladesh,Asia,164689383.0,72.59,0.8,3523.984
324,112.0,330.0,1.0,21.0,0.0,33.0,905.0,6175.0,276.0,2020-04-09,2020.0,4.0,9.0,3.0,Bangladesh,Asia,164689383.0,72.59,0.8,3523.984
325,94.0,426.0,6.0,27.0,0.0,33.0,1148.0,7359.0,364.0,2020-04-10,2020.0,4.0,10.0,4.0,Bangladesh,Asia,164689383.0,72.59,0.8,3523.984

In [22]:
merged_df['deaths_per_million']=merged_df['Total deaths'] * 1e6/ merged_df.population
merged_df['Tests_per_million']=merged_df['Total Tests'] * 1e6/ merged_df.population
merged_df

,Daily new confirmed cases,Total confirmed cases,Daily new deaths,Total deaths,Daily new recovered,Total recovered,Daily New Tests,Total Tests,Active Cases,date,...,day,weekday,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,deaths_per_million,Tests_per_million
0,3.0,3.0,0.0,0.0,0.0,0.0,9.0,120.0,3.0,2020-03-08,...,8.0,6.0,Bangladesh,Asia,164689383.0,72.59,0.8,3523.984,0.000000,0.728644
1,0.0,3.0,0.0,0.0,0.0,0.0,7.0,127.0,3.0,2020-03-09,...,9.0,0.0,Bangladesh,Asia,164689383.0,72.59,0.8,3523.984,0.000000,0.771149
2,0.0,3.0,0.0,0.0,0.0,0.0,10.0,137.0,3.0,2020-03-10,...,10.0,1.0,Bangladesh,Asia,164689383.0,72.59,0.8,3523.984,0.000000,0.831869
3,0.0,3.0,0.0,0.0,2.0,2.0,10.0,147.0,1.0,2020-03-11,...,11.0,2.0,Bangladesh,Asia,164689383.0,72.59,0.8,3523.984,0.000000,0.892589
4,0.0,3.0,0.0,0.0,0.0,2.0,16.0,163.0,1.0,2020-03-12,...,12.0,3.0,Bangladesh,Asia,164689383.0,72.59,0.8,3523.984,0.000000,0.989742
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321,35.0,123.0,3.0,12.0,0.0,33.0,468.0,3349.0,78.0,2020-04-06,...,6.0,0.0,Bangladesh,Asia,164689383.0,72.59,0.8,3523.984,0.072864,20.335251
322,41.0,164.0,5.0,17.0,0.0,33.0,792.0,4141.0,114.0,2020-04-07,...,7.0,1.0,Bangladesh,Asia,164689383.0,72.59,0.8,3523.984,0.103225,25.144305
323,54.0,218.0,3.0,20.0,0.0,33.0,981.0,5122.0,165.0,2020-04-08,...,8.0,2.0,Bangladesh,Asia,164689383.0,72.59,0.8,3523.984,0.121441,31.100973
324,112.0,330.0,1.0,21.0,0.0,33.0,905.0,6175.0,276.0,2020-04-09,...,9.0,3.0,Bangladesh,Asia,164689383.0,72.59,0.8,3523.984,0.127513,37.494827
325,94.0,426.0,6.0,27.0,0.0,33.0,1148.0,7359.0,364.0,2020-04-10,...,10.0,4.0,Bangladesh,Asia,164689383.0,72.59,0.8,3523.984,0.163945,44.684119

In [23]:
result_df= merged_df[[
                    'date',
                    'Daily New Tests',
                    'Total Tests',
                    'Daily new deaths',
                    'Total deaths',
                    'deaths_per_million',
                    'Tests_per_million',
                    'Daily new recovered',
                    'Total recovered']]
result_df

,date,Daily New Tests,Total Tests,Daily new deaths,Total deaths,deaths_per_million,Tests_per_million,Daily new recovered,Total recovered
0,2020-03-08,9.0,120.0,0.0,0.0,0.000000,0.728644,0.0,0.0
1,2020-03-09,7.0,127.0,0.0,0.0,0.000000,0.771149,0.0,0.0
2,2020-03-10,10.0,137.0,0.0,0.0,0.000000,0.831869,0.0,0.0
3,2020-03-11,10.0,147.0,0.0,0.0,0.000000,0.892589,2.0,2.0
4,2020-03-12,16.0,163.0,0.0,0.0,0.000000,0.989742,0.0,2.0
...,...,...,...,...,...,...,...,...,...
321,2020-04-06,468.0,3349.0,3.0,12.0,0.072864,20.335251,0.0,33.0
322,2020-04-07,792.0,4141.0,5.0,17.0,0.103225,25.144305,0.0,33.0
323,2020-04-08,981.0,5122.0,3.0,20.0,0.121441,31.100973,0.0,33.0
324,2020-04-09,905.0,6175.0,1.0,21.0,0.127513,37.494827,0.0,33.0
325,2020-04-10,1148.0,7359.0,6.0,27.0,0.163945,44.684119,0.0,33.0

In [24]:
result_df.to_csv('results.csv',index=False)