In [1]:
from urllib.request import urlretrieve

In [2]:
urlretrieve('https://gist.githubusercontent.com/aakashns/28b2e504b3350afd9bdb157893f9725c/raw/994b65665757f4f8887db1c85986a897abb23d84/countries.csv', 
            'countries.csv')

('countries.csv', <http.client.HTTPMessage at 0x1baab83a130>)

In [3]:
import pandas as pd

In [4]:
covid_df= pd.read_csv('countries.csv')

In [5]:
type(covid_df)

pandas.core.frame.DataFrame

In [6]:
covid_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839
3,Andorra,Europe,77265.0,83.73,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495
...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775

In [7]:
covid_df.shape

(210, 6)

In [8]:
covid_df.info

<bound method DataFrame.info of            location continent  population  life_expectancy  \
0       Afghanistan      Asia  38928341.0            64.83
1           Albania    Europe   2877800.0            78.57
2           Algeria    Africa  43851043.0            76.88
3           Andorra    Europe     77265.0            83.73
4            Angola    Africa  32866268.0            61.15
..              ...       ...         ...              ...
205         Vietnam      Asia  97338583.0            75.40
206  Western Sahara    Africa    597330.0            70.26
207           Yemen      Asia  29825968.0            66.12
208          Zambia    Africa  18383956.0            63.89
209        Zimbabwe    Africa  14862927.0            61.49

     hospital_beds_per_thousand  gdp_per_capita
0                          0.50        1803.987
1                          2.89       11803.431
2                          1.90       13913.839
3                           NaN             NaN
4                           NaN        5819.495
..                          ...             ...
205                        2.60        6171.884
206                         NaN             NaN
207                        0.70        1479.147
208                        2.00        3689.251
209                        1.70        1899.775

[210 rows x 6 columns]>

In [9]:
covid_df.describe()

,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
count,2.100000e+02,207.000000,164.000000,183.000000
mean,3.694276e+07,73.529855,3.012671,19485.912399
std,1.425092e+08,7.560056,2.464917,19820.802488
min,8.090000e+02,53.280000,0.100000,661.240000
25%,1.031042e+06,69.260000,1.300000,4504.151000
50%,6.909866e+06,75.090000,2.358500,13111.214000
75%,2.615868e+07,78.940000,3.895750,28349.983500
max,1.439324e+09,86.750000,13.800000,116935.600000

In [11]:
covid_df.columns

Index(['location', 'continent', 'population', 'life_expectancy',
       'hospital_beds_per_thousand', 'gdp_per_capita'],
      dtype='object')

In [25]:
continents_columns= covid_df['continent']

In [30]:
unique_continents=continents_columns.unique()
print(unique_continents)
len(unique_continents)

['Asia' 'Europe' 'Africa' 'North America' 'South America' 'Oceania']

6

In [31]:
population_col= covid_df['population']

In [33]:
population_col.sum()

7757980095.0

In [36]:
life_expectancy_col= covid_df['life_expectancy']
life_expectancy_col.mean()

73.52985507246376

In [39]:
urlretrieve('https://gist.githubusercontent.com/aakashns/b2a968a6cfd9fbbb0ff3d6bd0f26262b/raw/b115ed1dfa17f10fc88bf966236cd4d9032f1df8/covid-countries-data.csv', 
            'covid-countries-data.csv')

('covid-countries-data.csv', <http.client.HTTPMessage at 0x1baadc03850>)

In [40]:
covid_data_df = pd.read_csv('covid-countries-data.csv')

In [41]:
covid_data_df

           location  total_cases  total_deaths  total_tests
0       Afghanistan      38243.0        1409.0          NaN
1           Albania       9728.0         296.0          NaN
2           Algeria      45158.0        1525.0          NaN
3           Andorra       1199.0          53.0          NaN
4            Angola       2729.0         109.0          NaN
..              ...          ...           ...          ...
207  Western Sahara        766.0           1.0          NaN
208           World   26059065.0      863535.0          NaN
209           Yemen       1976.0         571.0          NaN
210          Zambia      12415.0         292.0          NaN
211        Zimbabwe       6638.0         206.0      97272.0

[212 rows x 4 columns]

In [42]:
covid_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839
3,Andorra,Europe,77265.0,83.73,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495
...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775

In [43]:
covid_data_df.columns

Index(['location', 'total_cases', 'total_deaths', 'total_tests'], dtype='object')

In [44]:
 covid_data_df['total_cases']

0         38243.0
1          9728.0
2         45158.0
3          1199.0
4          2729.0
          ...
207         766.0
208    26059065.0
209        1976.0
210       12415.0
211        6638.0
Name: total_cases, Length: 212, dtype: float64

In [45]:
type(covid_data_df['total_cases'])
#numpy Series data type

pandas.core.series.Series

In [50]:
covid_data_df['total_cases'][210]
# Series data type can be access by index

12415.0

In [51]:
covid_data_df.at[210,'total_cases']
# another way of accessing the data

12415.0

In [53]:
covid_data_df.total_cases
#same as covid_data_df['total_cases']

0         38243.0
1          9728.0
2         45158.0
3          1199.0
4          2729.0
          ...
207         766.0
208    26059065.0
209        1976.0
210       12415.0
211        6638.0
Name: total_cases, Length: 212, dtype: float64

In [54]:
covid_data_df.columns

Index(['location', 'total_cases', 'total_deaths', 'total_tests'], dtype='object')

In [56]:
cases_df=covid_data_df[['location','total_cases']]
cases_df

           location  total_cases
0       Afghanistan      38243.0
1           Albania       9728.0
2           Algeria      45158.0
3           Andorra       1199.0
4            Angola       2729.0
..              ...          ...
207  Western Sahara        766.0
208           World   26059065.0
209           Yemen       1976.0
210          Zambia      12415.0
211        Zimbabwe       6638.0

[212 rows x 2 columns]

In [57]:
covid_df_copy= covid_df.copy()
covid_df_copy
# coping from the original dataset .changing in copy dataset will not affect on original dataset

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839
3,Andorra,Europe,77265.0,83.73,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495
...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775

In [58]:
covid_df.loc[207]
# .loc[] is a series object

location                           Yemen
continent                           Asia
population                    29825968.0
life_expectancy                    66.12
hospital_beds_per_thousand           0.7
gdp_per_capita                  1479.147
Name: 207, dtype: object

In [61]:
covid_data_df.total_tests.first_valid_index()
# from where actual value start

7

In [64]:
covid_data_df.total_tests.loc[5:14]

5           NaN
6           NaN
7     1118923.0
8           NaN
9           NaN
10    6255797.0
11    1210568.0
12          NaN
13          NaN
14    1118837.0
Name: total_tests, dtype: float64

In [65]:
covid_df.sample(15)
#random 15 rows

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
63,Ethiopia,Africa,114963583.0,66.60,0.30,1729.927
195,Uganda,Africa,45741000.0,63.37,0.50,1697.707
33,Cambodia,Asia,16718971.0,69.82,0.80,3645.070
143,Norway,Europe,5421242.0,82.40,3.60,64800.057
112,Libya,Africa,6871287.0,72.91,3.70,17881.509
57,Ecuador,South America,17643060.0,77.01,1.50,10581.936
77,Greenland,North America,56772.0,71.70,NaN,NaN
109,Lebanon,Asia,6825442.0,78.93,2.90,13367.565
21,Bermuda,North America,62273.0,82.59,NaN,50669.315
104,Kosovo,Europe,1932774.0,NaN,NaN,9795.834
65,Falkland Islands,South America,3483.0,81.44,NaN,NaN
114,Lithuania,Europe,2722291.0,75.93,6.56,29524.265
176,South Sudan,Africa,11193729.0,57.85,NaN,1569.888
66,Fiji,Oceania,896444.0,67.44,2.30,8702.975
120,Maldives,Asia,540542.0,78.92,NaN,15183.616